@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary: #78716C;
    --black: #333333;
    --width-break: 500px
}

body{
    margin: 0;
    font-family: 'Pattaya', sans-serif;
    color: #333333;
}

nav{
    background-color: var(--primary);
    text-align: center;
}

main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button{
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Pattaya', sans-serif;
    font-size: large;
}

#btn-translate:hover{
    text-decoration: underline;
}

#output{
    box-sizing: border-box;
    border: 1px solid var(--black);
    min-height: 10vh;
    max-height: 20vh;
    width: 100%;
    overflow: scroll;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}
footer p{
    max-width: var(--width-break);
    margin: auto;
}