@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary: #78716C;
    --black: #333333;
    --width-break: 500px
}

body{
    margin: 0;
    padding: 0;
    background-image: url(https://scontent.fpat3-3.fna.fbcdn.net/v/t1.18169-9/10569079_907694035946080_3740931323087371971_n.png?_nc_cat=110&ccb=1-3&_nc_sid=e3f864&_nc_ohc=1SqYjaFhqaoAX-_dicp&_nc_ht=scontent.fpat3-3.fna&oh=fa55fae1857c163e26b13461742d2c83&oe=60CE4E7E);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Pattaya', sans-serif;
    background-size: 100% 152%;
    color: #333333;

}

img {
    opacity: 0.5;
  }

nav{
    background-color: var(--primary);
    text-align: center;
}

main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    padding: 1rem;
    font-family: inherit;
}

button{
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Pattaya', sans-serif;
    font-size: large;
}

#btn-translate:hover{
    text-decoration: underline;
}

#output{
    box-sizing: border-box;
    border: 1px solid var(--black);
    min-height: 10vh;
    max-height: 20vh;
    width: 100%;
    overflow: scroll;
    display: block;
    color: #00000080;
    background-color: white;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}
footer p{
    max-width: var(--width-break);
    margin: auto;
}
